#header
{
    float:right;
    width: 90%;
    height: 20%;
}
#sidebar
{
    float:left;
    width: 10%;
    height: 100%;
}
#content
{
    float: right;
    height: 100%;
    width: 80%;
}
#icon
{
    max-width: 100%;
    max-height: 100%;
}
#iconbox
{
    float:left;
    width: 10%;
    height: 20%;
}