html, body, textarea, input, #sidebar, #content{
    width:100%;
    height:100%; 
    box-sizing: border-box!important;       
    /*-moz-box-sizing: border-box!important;  
    -webkit-box-sizing: border-box!important;*/
    resize: none;
}
html, body {
  margin: 0;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.ui-dialog-titlebar-close {
  visibility: hidden;
}
#peer
{
    height: auto;
    min-height: 2em;
}
#mainWindow{
    height: 100%;
    width: 100%;
    margin: 0;
}
#display
{
    border-style: ridge;
    height: 80%;
}
textarea, #display
{
    padding: 0.4em;
}
#display, #conversationsContainer
{
    overflow-y:auto;
    overflow-x:hidden;
}
#conversationsContainer
{
    max-height: 60%;
    padding: 0.5em;
}
#conversationList
{
    width: 100%;
}
#sidebar
{
    float:left;
    width: 20%;
    height: 100%;
    border: 0.5em solid #fff;
    /*position:relative*/
}
#content
{
    float: right;
    height: 100%;
    width: 80%;
    border: 0.5em solid #fff;
}
#input
{
    display: block;
    height: 10%;   
    /*border-top: 0.5em solid #fff;*/
}
#sendButton
{
    width: 20%;
    float: right;
    height: 100%;
    display: inline-block;
    vertical-align:middle;
}
#messageInput
{
    width: 78%;
    float: left;
    height: 100%;
}
#peerInput
{
    height: 5%;
    width: 100%;
    border-bottom: 0.3em solid #fff;
}
.progressBar
{
    width: 99%;
    height: 0.3em;
}
.determinateProgress
{
    height: 1em;
}
.sentMessage
{
    background-color: #d0e4fe;
    float: right;
    width: 80%;
    padding: 0.5em;
    margin: 0.5em;
    font-family: Arial;
    word-wrap: break-word;
}
.receivedMessage
{
    background-color:#f0f0f0;
    float: left;
    width: 80%;
    padding: 0.5em;
    margin: 0.5em;
    font-family: Arial;
    word-wrap: break-word;
}
.timestamp
{
    float: right;
}
.deleteMessageButton
{
    float: left;
    padding-left: 0.5em;
}
.checkSignatureButton
{
    float: left;
    padding-left: 0.5em;
}
.messageFooter
{
    font-size: x-small;
}
#buttons
{
    display: table-cell;
    text-align: center;
    max-height: 20%;
}
input[type=email]:valid
{
    color: green;
}
input[type=email]:invalid
{
    color: red;
}
#tools
{
    max-height: 18%;
    position: absolute;
    bottom: 0;
    padding: 1em;
}